<div class="container mt-4">

  <h1 class="text-center bg-danger p-3 text-white rounded">
    Welcome to your Prediction Pedia
  </h1>
<div class="d-flex justify-content-between">
  <button class="btn btn-success" (click)="single()">
    want to know about yourself
  </button>

  <button class="btn btn-success" (click)="partner()">
    want to know about your relationship
  </button>
</div>

  <div *ngIf="one" class="row justify-content-center mt-4">
    <div class="col-md-4">

      <div class="mb-3">
        <label class="form-label">Enter your name</label>
        <input #nameInput type="text" class="form-control" placeholder="Your full name">
      </div>

      <div class="mb-3">
        <label class="form-label">Enter your DOB</label>
        <input #dobInput type="date" class="form-control">
      </div>

      <button
        class="btn btn-danger w-100 mb-3 mt-3"
        (click)="astro(nameInput.value, dobInput.value)">
        Submit
      </button>

      <!-- RESULT BOX -->
      <div *ngIf="resultText" class="card mt-3">
        <div class="card-header bg-danger text-white">
          Your Prediction ({{ zodiacSign }})
        </div>
        <div class="card-body">
          <p class="card-text">{{ resultTexts }}</p>
        </div>
      </div>

    </div>
  </div>

   <div *ngIf="sencond" class="row justify-content-center mt-5 ">
    <div class="col-md-8">
     <div class="row">
  <!-- Left Column -->
  <div class="col-md-6">
    <div class="mb-3">
      <label class="form-label">Enter your name</label>
      <input #nameInput type="text" class="form-control" placeholder="Your full name">
    </div>

    <div class="mb-3">
      <label class="form-label">Enter your DOB</label>
      <input #dobInput type="date" class="form-control">
    </div>
  </div>

  <!-- Right Column -->
  <div class="col-md-6 ">
    <div class="mb-3">
      <label class="form-label">Enter your partner name</label>
      <input #nameInput1 type="text" class="form-control" placeholder="Partner full name">
    </div>

    <div class="mb-3">
      <label class="form-label">Enter your partner DOB</label>
      <input #dobInput1 type="date" class="form-control">
    </div>
  </div>


      <button
        class="btn btn-danger w-100 mb-3 mt-4"
        (click)="astro(nameInput.value, dobInput.value)">
        Submit
      </button>

      <!-- RESULT BOX -->
      <div *ngIf="resultText" class="card mt-3">
        <div class="card-header bg-danger text-white">
          Your Prediction ({{ zodiacSign }})
        </div>
        <div class="card-body">
          <p class="card-text">{{ resultTexts }}</p>
        </div>
      </div>

    </div>
  </div>

  <router-outlet></router-outlet>
</div>
